#{extends 'main.html' /}
#{set title:'About' /}

<div id="top">
    <p class="category">このサイトについて</p>
</div>
    
<div class="wrapper">
    
    <div class="wrapped wikistyle">
        
        <h1>playscalaja へようこそ</h1>
        <p>Play framework Scala モジュールのドキュメント翻訳サイトへようこそ。このサイトに関する情報を以下に示します。</p>
        
        <h2>公式サイトではありません</h2>
        <p>このサイトは <a href="http://www.playframework.org/">playframework.org</a> が作成したものではありません。</p>
        <p>このサイトの内容に関する質問を playframework.org にしないでください。</p>
        
    </div>
    
</div>
