#{extends 'main.html' /}
#{set title:'About' /}

<div id="top">
    <p class="category">このサイトについて</p>
</div>
    
<div class="wrapper">
    
    <div class="wrapped wikistyle">
        
        <h1>playscalaja へようこそ</h1>
        <p>Play framework Scala モジュールのドキュメント翻訳サイトへようこそ。このサイトに関する情報を以下に示します。</p>
        
        <h2>公式サイトではありません</h2>
        <p>このサイトは <a href="http://www.playframework.org/">playframework.org</a> が作成したものではありません。</p>
        <p>このサイトの内容に関する質問を playframework.org にしないでください。</p>
        
        <h2>翻訳者</h2>
        <p>このプロジェクトは <a href="https://github.com/garbagetown/playscalaja"/>github</a> において、次の翻訳者によって運営されています。</p>

        <div class="profile-info">
            <div class="profile-image-container">
                <a target="_blank" class="profile-picture" href="http://twitter.com/garbagetown">
                    <img alt="UMEZAWA, Yuichiro" src="http://a3.twimg.com/profile_images/1173394210/avater_normal.jpg">
                </a>
            </div>
            <div class="profile-details">
                <div class="full-name">
                    <h4>UMEZAWA, Yuichiro</h4>
                </div>
                <div class="screen-name-and-location">
                    <span class="screen-name screen-name-garbagetown pill">
                        @<a target="_blank" class="profile-picture" href="http://twitter.com/garbagetown">garbagetown</a>
                    </span>
                </div>
                <div class="url">
                    <a href="http://d.hatena.ne.jp/garbagetown/" rel="me nofollow" target="_blank">http://d.hatena.ne.jp/garbagetown/</a>
                </div>
            </div>
        </div>
        <div class="profile-info">
            <div class="profile-image-container">
                <a target="_blank" class="profile-picture" href="http://twitter.com/teppei_tosa">
                    <img alt="土佐鉄平" src="http://a1.twimg.com/profile_images/1253260052/23196_1194031471_7481_q.jpg">
                </a>
            </div>
            <div class="profile-details">
                <div class="full-name">
                    <h4>土佐鉄平</h4>
                </div>
                <div class="screen-name-and-location">
                    <span class="screen-name screen-name-garbagetown pill">
                        @<a target="_blank" class="profile-picture" href="http://twitter.com/teppei_tosa">teppei_tosa</a>
                    </span>
                </div>
                <div class="url">
                    <a href="http://d.hatena.ne.jp/teppei-studio/" rel="me nofollow" target="_blank">http://d.hatena.ne.jp/teppei-studio/</a>
                </div>
            </div>
        </div> 
    </div>
    
</div>
