#{extends 'main.html' /}
#{set title:'Home' /}

<div id="top">
    <div id="scalaTop">
        <div class="wrapper">
            <strong>Play Scala</strong> によって <a href="http://www.playframework.org">Play framework の主要な特性</a> を保ったまま <a href="http://www.scala-lang.org">Scala 言語</a> をアプリケーションに使うことができるようになります。 
            Play Scala は、簡潔さと開発者に対する親切さを諦めることなく、Scala の文法的なプログラミングスタイルをより機能的に使います。
            <div id="note">
                <strong>version 0.9.1</strong> は 2011 年 5 月 29 日に公開されました。&nbsp;—&nbsp; <code>play install scala-0.9.1</code> &nbsp;—&nbsp; <a href="/documentation/scala-0.9/roadmap">1.0 までのロードマップを確認してください。</a>
            </div>
        </div>
    </div>
</div>
    
<div class="wrapper">

<div class="slide">
    
<h2><img src="/public/images/icons/fire-blue.png"> <span>Scala の威力を Web アプリケーションに</span></h2>

<div class="explain">
    <p>
        Web デベロッパによって作成された Scala の Web フレームワークです。学習曲線は易しく、簡単に始められ、Scala 言語を学べば学ぶほど威力を増します。
    </p>
</div>

<div class="code"><span class="keyword">$</span> <span class="type">play</span> <span class="func">install</span> scala
<span class="keyword">$</span> <span class="type">play</span> <span class="func">new</span> myScalaWebapp <span class="string">--with</span> scala
<span class="keyword">$</span> <span class="type">play</span> <span class="func">run</span></div>
        
</div>

<div class="slide right">
    
<h2><img src="/public/images/icons/ff-blue.png"> <span>Scala 風味の Play API</span></h2>  

<div class="explain">
    <p>
        Scala 言語の表現力と簡潔さによって、"フルスタック" な Play API を使うことができます。
    </p>
</div>  

<div class="code"><span class="keyword">def</span> <span class="func">show</span>(id: <span class="type">Long</span>) = {
    <span class="type">Order</span>.<span class="func">findById</span>(id).<span class="func">map</span>( order =>
        <span class="type">html.index</span>(order, <span class="func">connectedUser</span>)
    ).<span class="func">getOrElse</span>(<span class="type">NotFound</span>(<span class="string">"No such order"</span>))
}</div>
        
</div>

<div class="slide">
        
<h2><img src="/public/images/icons/template-blue.png"> <span>Scala テンプレート</span></h2>  

<div class="explain">
    <p>
        コードにフォーカスしたテンプレート・アプローチを使うことで HTML の生成に最適化されたタイプセーフな — Scala ベースの <a href="/documentation/0.9.1/templates">テンプレートエンジン</a> です。
    </p>
</div>  

<div class="code"><span class="type">&lt;h1&gt;</span>Product: <span class="embedded"><span class="keyword">@</span>product.name</span><span class="type">&lt;/h1&gt;</span>
<br><span class="type">&lt;ul&gt;</span>
    <span class="embedded"><span class="keyword">@</span>product.versions.map { version =></span>
        <span class="type">&lt;li&gt;</span>Get <span class="embedded"><span class="keyword">@</span>version.name</span> ($<span class="embedded"><span class="keyword">@</span>version.price</span>)<span class="type">&lt;/li&gt;</span>
    <span class="embedded">}</span>
<span class="type">&lt;/ul&gt;</span>
</div>
    
</div>

<div class="slide right">
    
<h2><img src="/public/images/icons/db-blue.png"> <span>強力な SQL データベースアクセス</span></h2>    


<div class="explain">
    <p>
        <a href="/documentation/scala-0.9/anorm">Anorm</a> は、既存の Scala インタフェース (コレクション、パターンマッチング、パーサコンビネータ) を再利用する、最小のインタフェースを備えた平易な JDBC です。
    </p>
</div>

<div class="code"><span class="keyword">val</span> <span class="func">postsWithAuthor</span>:<span class="type">List</span>[(<span class="type">Post</span>~<span class="type">User</span>)] = 
    <span class="type">SQL</span>(
        <span class="string">"""
            select * from Post p join User u on 
            p.author_id = u.id order by p.postedAt desc
        """</span>
    ).<span class="func">as</span>( <span class="type">Post</span> ~< <span class="type">User</span> * )
</div>
        
</div>
    
</div>
    

</div>